@charset "utf-8";

/* G마켓 산스 */
@font-face {
    font-family: 'Gmarket Sans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* RESET */
* { margin:0; padding:0; letter-spacing:0.5px; }
ul,ol { list-style:none; }
a,a:hover,a:active,a:focus { color:#333; text-decoration:none; }
table { border-collapse:collapse; border-spacing:0; }
img { border:0 none; vertical-align:top; }
textarea { resize:none; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{ display:block; }

/* font rule */
body,
table,
input,
textarea,
select,
button,
th,
td,
p,
li {
	font-family:Gmarket Sans;
	font-weight:300;
}

.wrap { width:100%; background:#f5f4f2; min-height:100vh; }
.wrap-m { width:100%; background:#f5f4f2; min-height:100vh; display:none; }

div,
p { color:#333; }

/* COMMON - WEB */
.wrap .header { width:1080px; padding:80px 0 50px; margin:0 auto; text-align:center; }
.wrap .header .hair { padding:0 0 80px; }
.wrap .header .hair img { cursor:pointer; }
.wrap .header .hair p { font-size:12px; font-weight:700; }
.wrap .header .hair p.c7ee5d0 { color:#7ee5d0; font-size:20px; padding:50px 0 15px; }
.wrap .header .gnb {  }
.wrap .header .gnb ul { overflow:hidden; }
.wrap .header .gnb ul li { float:left; width:24%; margin-right:1.333%; padding:0 0 12px; background-position:center bottom; background-repeat:no-repeat; }
.wrap .header .gnb ul li:nth-child(1) { background-image:url(../img/pc/00_menu_01.png); }
.wrap .header .gnb ul li:nth-child(2) { background-image:url(../img/pc/00_menu_02.png); }
.wrap .header .gnb ul li:nth-child(3) { background-image:url(../img/pc/00_menu_03.png); }
.wrap .header .gnb ul li:nth-child(4) { background-image:url(../img/pc/00_menu_04.png); margin-right:0; }
.wrap .header .gnb ul li a { color:#555; font-size:12px; font-weight:700; }
.wrap .footer { width:1080px; padding:0 0 50px; margin:0 auto; text-align:center; }
.wrap .footer .copyright { color:#666; font-size:10px; padding:30px 0; }
.wrap .footer .copyright b { color:#333; }
.wrap .footer .footer-bar { width:100%; height:2px; background-image:url(../img/pc/99_footer.png); }
.wrap .container { width:1080px; margin:0 auto; box-sizing:border-box; }

/* COMMON - MOBILE */
.wrap-m .header-m {
	width: 100%;
    height: 4.5em;
    padding: 0 5%;
    margin: 0 auto;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
	position: fixed;
	z-index: 1000;
	backdrop-filter: blur(2px);
}
.wrap-m .header-m .hair { 
	display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.wrap-m .header-m .hair .home {  }
.wrap-m .header-m .hair .home img { width:35%; }
.wrap-m .header-m .hair .nav {  }
.wrap-m .header-m .hair .nav img { width:35%; }
.wrap-m .header-m .menu-on { position:fixed; top:0; left:100%; z-index:9; width:100%; height:100vh; background:#333; transition:0.8s; }
.wrap-m .header-m .menu-on .hair-on {
    padding: 0 1em;
    border-bottom: 1px solid #3a3a3a;
    display: flex;
    width: 100%;
    height: 4.5em;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.wrap-m .header-m .menu-on .hair-on .home {  }
.wrap-m .header-m .menu-on .hair-on .home img { width:35%; }
.wrap-m .header-m .menu-on .hair-on .nav { text-align:right; }
.wrap-m .header-m .menu-on .hair-on .nav img { width:35%; }
.wrap-m .header-m .menu-on .gnb { position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); }
.wrap-m .header-m .menu-on .gnb ul {  }
.wrap-m .header-m .menu-on .gnb ul li { text-align:center; padding:0 0 2em; white-space:nowrap; }
.wrap-m .header-m .menu-on .gnb ul li:last-child { padding:0; }
.wrap-m .header-m .menu-on .gnb ul li a { color:#fff; font-size:1.2em; font-weight:700; }
.wrap-m .footer-m { width:90%; padding:0 0 0.5em; margin:0 auto; text-align:center; }
.wrap-m .footer-m .copyright { color:#666; font-size:1em; padding:2em 0; }
.wrap-m .footer-m .copyright b { color:#333; }
.wrap-m .footer-m .footer-bar { width:100%; height:2px; background-image:url(../img/mobile/m_99_footer.png); }

/* MEDIA QUERY */
@media (max-width:1080px) {
	img { width:100%; }
	.wrap { display:none; }
	.wrap-m { display:block; }
}
@media (max-width:414px) {
	.wrap-m .footer-m .copyright { font-size:0.7em; }
}
@media (max-width:320px) {
	.wrap-m .footer-m .copyright { font-size:0.6em; }
}