@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* RESET */
* { margin:0; padding:0; letter-spacing:0.5px; box-sizing: border-box; }
html { font-size: 62.5%; }
ul,ol { list-style:none; }
a,a:hover,a:active,a:focus { color:#333; text-decoration:none; }
table { border-collapse:collapse; border-spacing:0; }
img { border:0 none; vertical-align:top; }
textarea { resize:none; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{ display:block; }

/* font rule */
body,
table,
input,
textarea,
select,
button,
th,
td,
p,
li {
  color: #333;
  font-size: 2rem;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
	font-weight:300;
}

.voca-note-wrap {  }
.title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  background-color: #2b716a;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.voca-note-tit { color: #fff; font-size: 3rem; }
.voca-btn-wrap {  }
.voca-btn-wrap button {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #00000050;
  border: 1px solid transparent;
  padding: 0.8rem 1.2rem;
  border-radius: 1.2rem;
  cursor: pointer;
}
.voca-btn-wrap button:hover { background-color: #00000090; }
.voca-btn-wrap .mean-toggle {  }
.voca-btn-wrap .mean-toggle::after { content: ' 가리기'; }
.voca-btn-wrap .mean-toggle.on {  }
.voca-btn-wrap .mean-toggle.on::after { content: ' 보기'; }
.voca-btn-wrap .turn-toggle {  }
.voca-note-subtit { font-size: 1.8rem; padding: 1.6rem; background-color: #f8f8f8; box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 12%); }
.voca-note-ctt { padding-top: 6.9rem; }
.voca-note-table { width: calc(100% - 3.2rem); margin: 0 1.6rem 4rem; }
.voca-note-table tbody {  }
.voca-note-table tbody tr {  }
.voca-note-table tbody tr td { padding: 1.6rem; text-align: center; border-bottom: 1px solid #ddd; }
.voca-note-table tbody tr td:nth-child(1) { font-weight: 500; }
.voca-note-table tbody tr td:nth-child(2) { color: #e95151; }
.voca-note-table tbody tr td:nth-child(2)::before { content: '['; }
.voca-note-table tbody tr td:nth-child(2)::after { content: ']'; }
.voca-note-table tbody tr td:nth-child(3) {  }
.voca-note-table tbody tr:hover td { background-color: #fff7f7; }
.voca-note-table tbody tr td.table-tit { background-color: #eff6f6; }
.voca-note-table.mean-unseen tbody tr td:nth-child(3) { color: transparent; }
.voca-note-table.mean-unseen tbody tr:active td:nth-child(3) { color: #333; }

@media (max-width: 500px) {
  .voca-note-tit { font-size: 1.8rem; }
}