/* RESET */
* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a,
a:hover,
a:active,
a:focus {
  color: #333;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0 none;
  vertical-align: top;
}

textarea {
  resize: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}