@charset "utf-8";

.wrap {
    .moOnly { display: none; }
    .container {
        padding: 60px;
        background: #fff;

        /* WEB - SUB - PAGE01 */
        .content {
            h5 {
                color: #7ee5d0;
                font-size: 20px;
            }

            .profile-list {
                padding: 30px 0 50px;
                overflow: hidden;

                &:last-child {
                    padding: 30px 0 0;
                }

                dt {
                    color: #333;
                    font-size: 17px;
                    font-weight: 500;
                    min-width: 5em;
                    clear: both;
                    float: left;
                    margin: 0 0 15px;

                    &:last-child {
                        margin: 0;
                    }
                }

                dd {
                    color: #666;
                    font-size: 17px;
                    font-weight: 500;
                    margin: 0 0 15px;

                    &:last-child {
                        margin: 0;
                    }
                }
            }

            .career-list {
                padding: 30px 0 50px;
                overflow: hidden;

                &:last-child {
                    padding: 30px 0 0;
                }

                dt {
                    color: #333;
                    font-size: 17px;
                    font-weight: 500;

                    &.career-title {
                        margin: 25px 0 0;

                        &:first-child {
                            margin: 0;
                        }
                    }
                }

                dd {
                    color: #666;
                    font-size: 17px;
                    line-height: 22px;

                    &.career-date {
                        font-size: 14px;
                        font-weight: 500;
                        margin: 8px 0 12px;
                    }

                    &.career-description {}
                }

                ul {
                    margin: 0.8em 0 0;

                    li {
                        margin: 0 0 8px;

                        &:last-child {
                            margin: 0;
                        }
                    }
                }
            }

            /* WEB - SUB - PAGE02 */
            .title {
                margin: 0 0 50px;
                text-align: center;
            }

            .h5bar {
                width: 60px;
                height: 3px;
                background: #7ee5d0;
                margin: 30px auto;
            }

            /* WEB - SUB - PAGE03 */
            .career-comment {
                font-size: 17px;
                line-height: 22px;

                i {
                    font-size: 13px;
                }
            }

            .career-list-03 {
                position: relative;

                dt {
                    &.career-title {
                        margin: 25px 0 0 15px;

                        &:first-child {
                            margin: 0 0 0 15px;
                        }

                        &.featured {
                            &::before {
                                color: #7ee5d0;
                                font-size: 13px;
                                font-family: FontAwesome;
                                content: '\f005';
                                margin: 2px 3px 0 0;
                                position: absolute;
                                left: 0;
                            }
                        }
                    }
                }

                dd {
                    &.career-date {
                        margin: 8px 0 12px 15px;
                    }

                    &.career-description {
                        margin: 0 0 0 15px;
                    }
                }
            }
        }

        .content-sub {
            /* WEB - SUB - PAGE02 */
            text-align: center;

            p {
                font-size: 17px;
                line-height: 18px;
            }

            h5 {
                &.pumpkin {
                    color: #ff9c00;
                    margin: 0 0 20px;
                }
            }

            /* WEB - SUB - PAGE04 */
            .title {
                p {
                    &.p4-01 {
                        line-height: 22px;
                    }

                    &.p4-02 {
                        line-height: 22px;
                        margin: 10px 0 50px;
                    }
                }
            }

            .cont-favorite {
                ul {
                    overflow: hidden;

                    li {
                        float: left;
                        margin: 0 6px 6px 0;

                        &:nth-child(4n) {
                            margin: 0 0 6px 0;
                        }

                        img {}
                    }
                }
            }
        }
    }
}

.wrap-m {
    .pcOnly { display: none; }

    /* MOBILE - SUB - PAGE01 */
    .container {
        text-align: left;
        padding: 7em 3vw 2em;
        font-size: 0.9em;
        background: url(/resource/img/mobile/m_00_common_bg.png) no-repeat;
        background-size: 100%;
        background-position: 0 3em;

        .sub-title {
            padding: 0 0 2em;
        }

        .content {
            padding: 1.2em;
            background: #fff;

            h5 {
                color: #7ee5d0;
                font-size: 1.3em;

                /* MOBILE - SUB - PAGE02 */
                &.pumpkin {
                    color: #ff9c00;
                    text-align: center;
                    margin: 0 0 0.8em;
                }
            }

            .profile-list {
                padding: 1.2em 0 2.5em;
                overflow: hidden;

                &:last-child {
                    padding: 1.2em 0 0;
                }

                dt {
                    color: #333;
                    font-weight: 500;
                    min-width: 5em;
                    clear: both;
                    float: left;
                    margin: 0 0 0.8em;

                    &:last-child {
                        margin: 0;
                    }
                }

                dd {
                    color: #666;
                    font-weight: 500;
                    margin: 0 0 0.8em;

                    &:last-child {
                        margin: 0;
                    }
                }
            }

            .career-list {
                padding: 1.2em 0 2.5em;
                overflow: hidden;

                &:last-child {
                    padding: 1.2em 0 0;
                }

                dt {
                    color: #333;
                    font-size: 1.2em;
                    font-weight: 500;
                    line-height: 1.3em;
                }

                dd {
                    color: #666;
                    font-size: 1em;

                    &.career-date {
                        font-size: 0.9em;
                        font-weight: 500;
                        margin: 0.5em 0 0.8em;
                    }

                    &.career-description {
                        margin: 0 0 1.5em;
                        line-height: 1.3em;

                        &:last-child {
                            margin: 0;
                        }
                    }
                }

                ul {
                    margin: 0.8em 0 0;

                    li {
                        margin: 0 0 0.5em;

                        &:last-child {
                            margin: 0;
                        }
                    }
                }
            }

            /* MOBILE - SUB - PAGE03 */
            .career-comment {
                font-size: 0.9em;
                line-height: 1.5em;

                i {}
            }

            .career-list-03 {
                position: relative;

                dt {
                    margin: 0 0 0 1.2em;

                    &.career-title {
                        &.featured {
                            &::before {
                                color: #7ee5d0;
                                font-size: 0.9em;
                                font-family: FontAwesome;
                                content: '\f005';
                                margin: 0 0.3em 0 0;
                                position: absolute;
                                left: 0;
                            }
                        }
                    }
                }

                dd {
                    &.career-date {
                        margin: 0.5em 0 0.8em 1.2em;
                    }

                    &.career-description {
                        margin: 0 0 1.5em 1.2em;

                        &:last-child {
                            margin: 0 0 0 1.2em;
                        }
                    }
                }
            }
        }

        /* MOBILE - SUB - PAGE04 */
        .content-sub {
            text-align: center;

            .title {
                p {
                    &.p4-01 {
                        line-height: 1.2em;
                    }

                    &.p4-02 {
                        line-height: 1.2em;
                        margin: 0.3em 0 1em;
                    }
                }
            }

            .cont-favorite {
                ul {
                    overflow: hidden;

                    li {
                        float: left;
                        width: 32.667%;
                        margin: 0 1% 1% 0;

                        &:nth-child(3n) {
                            margin: 0 0 1% 0;
                        }

                        img {}
                    }
                }
            }
        }
    }
}

/* MEDIA QUERY */
@media (max-width:1080px) {
}

@media (max-width:375px) {}